@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

<h3>Кринж</h3>
<p>
    Вы заблудились в <strong>трех соснах</strong>
</p>
<p>
    Вам сильно повезло, что об этом вряд ли кто-то узнает.
</p>
